<%= form_for(@user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <% Newspaper.all.each do |paper| %>
    <label>
      <%= paper.title %>
      <br>
      <select name="user[subscription_plan_ids][]">
        <option value="">Select</option>
        <%= paper.subscription_plans.each do |sub| %>
          <option value="<%= sub.id %>"><%= sub %></option>
        <% end %>
      </select>
    </label>
    <br>
    <br>
  <% end %>
  <%= f.submit %>
<% end %>